/* @font-face {
  font-family: 'Nunito', serif;
  font-optical-sizing: auto;
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
} */
